// 主题颜色
$--color-primary: #4AB0FF;

// 导航条
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #263238;
$sidebar--color-text-dark: #8a979e;

// Content
$content--background-color: #f5f5f5;